.postBtn{
    display: flex;
    justify-content: flex-end;
    margin-right: 2%;
    
}

.AllQuestion{
    margin-top: 2rem;
    width: 60%;
    display: inline-block;

     
}


.title{
    color: blue;
    text-align: left;
}

.Question{
    margin: 2% 2% 3%;
    
    
   
    
}
.desc{
text-align: left;
}