.svg{
        position: absolute;
        width: 3rem;
        height: 2rem;
        left: 15rem;
        bottom: 27rem;
        
    }


.Desc{
    border:1px solid black;
    width: 60%;
    margin-left: 20%;
    margin-top: 5%;
    text-align: left;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-color: #ffff;
}
